.cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 60px;
    background-color: #fafafa;
    color: #2c3e50;
    width: 100vw;
    justify-content: center;
}